.button {
  font-family: $button-font;
  font-size: .75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .125s ease-in;
  display: block;
  &:focus {
    outline-style: none;
  }
}

.self {
  padding: .5rem 1rem .5rem 1rem;
}

.full {
  width: 18rem;
}

.half {
  width: 17rem;
}

.fill {
  color: white;
  background: $blue;
  &:hover {
    background: darken( $blue, 10% );
    border-color: darken( $blue, 10% );
  }
  &:active {
    background: darken( $blue, 20% );
    border-color: darken( $blue, 20% );
  }
}

.ghost {
  color: $blue;
  background: none;
  border-color: 1px solid $blue;
  &:hover {
    background: $blue;
    border-color: $blue;
  }
  &:active {
    background: darken( $blue, 10% );
    border-color: darken( $blue, 10% );
  }
}

.link {
    color: $blue;
    font-family: $button-font;
    font-size: .825rem;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    transition: all .125s ease;
    &:hover {
      border-color: $blue;
    }
  }
