@import "global.scss";

.button {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .235s ease-in-out;
  display: block;
  padding: 8px 16px;
  &:focus {
    outline-style: none;
  }
}

.self {
  padding: 8px 16px;
}

.full {
  width: 100%;
}

.fill {
  color: white;
  background: $blue;
  &:hover {
    background: darken( $blue, 5% );
    border-color: darken( $blue, 5% );
  }
  &:active {
    transition: none;
    background: darken( $blue, 10% );
    border-color: darken( $blue, 10% );
  }
}

.ghost {
    color: $blue;
    background: none;
    border: 1px solid $blue;
    &:hover {
        background: $blue;
        color: $white;
        // background: lighten($blue, 35%);
    }
    &:active {
        transition: none;
        background: darken($blue, 15%);
        border-color: darken($blue, 15%);
        color: $white;
        // background: lighten($blue, 30%);
    }
}

.link {
    color: $blue;
    font-family: $norm-font;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid $white;
    transition: all .235s ease-in-out;
    &:hover {
      border-color: $blue;
    }
  }
