$norm-font: 'MaisonNeueNormal', sans-serif;
$bold-font: 'MaisonNeueBold', sans-serif;
$mono-font: 'MaisonNeueMono', monospace;
$white: #FFFFFF;
$grey1: #EAF0F4;
$grey2: #768898;
$grey3: #323B43;
$blue: #3778FF;
$yellow: #FFF1CC;
$red: #D95C27;

@font-face {
  font-family: 'MaisonNeueNormal';
  src: url('../fonts/maison-neue-book.eot') format('eot'),;
  src: url('../fonts/maison-neue-book.woff2') format('woff2'),
       url('../fonts/maison-neue-book.woff') format('woff'),
       url('../fonts/maison-neue-book.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeueBold';
  src: url('../fonts/maison-neue-bold.eot') format('eot'),;
  src: url('../fonts/maison-neue-bold.woff2') format('woff2'),
       url('../fonts/maison-neue-bold.woff') format('woff'),
       url('../fonts/maison-neue-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeueMono';
  src: url('../fonts/maison-neue-mono.eot') format('eot'),;
  src: url('../fonts/maison-neue-mono.woff2') format('woff2'),
       url('../fonts/maison-neue-mono.woff') format('woff'),
       url('../fonts/maison-neue-mono.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
